@import url('../../style/variables.css');

button {
  background-color: var(--color3);
  border-color: transparent;
  border-radius: 0.5rem;
  color: var(--color1);
  margin: 1rem 0 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.5rem 0.75rem;
  width: 100%;
}