:root {
  --color1: #F7F7F2;
  --color2: #E4E6C3;
  --color3: #899878;
  --color4: #222725;
  --color5: #121113;
}

/* .bg-1 {
  background-color: var(--color1);
}

.bg-2 {
  background-color: var(--color2);
}

.bg-3 {
  background-color: var(--color3);
}

.bg-4 {
  background-color: var(--color4);
}

.bg-5 {
  background-color: var(--color5);
} */