@import url('../style/variables.css');

.generated-note-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.generated-note-wrapper__circle {
  align-items: center;
  border: 2px solid var(--color3);
  border-radius: 50%;
  display: flex;
  height: 80px;
  justify-content: center;
  width: 80px;
}

.generated-note-wrapper__alterations p {
  margin: 0.5rem 0 0;
  height: 20px;
}

.generated-note-wrapper__scale-type p {
  padding: 0.5rem 0.75rem 0;
  font-weight: 450;
  margin-bottom: 0;
}