.random-note-wrapper {
  width: 100%;
}
.random-note-wrapper__checkboxes {
  display: flex;
  justify-content: center;
}

.random-note-wrapper__checkboxes-element {
  display: flex;
  margin-right: 0.5rem;
}